@media(min-width:1024px){
    .container_card .card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex_card div{
        display: flex;
        width: 100%;
            align-items: center;
        justify-content: center;
    }
    .flex_card{
        display: flex;
    }
    .services_flex{
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .services_flex > div{
        display: flex;
        justify-content: space-between;
    }
    .information_servicos img {
        height: 500px;
        object-fit: cover;
    }
    .information_servicos p{
        width: 60%;
    }
    .projects .text{
        display: flex;
        align-items: center;
    }
    .projects p{
        width: 50%;
        margin: initial;
        text-align: left;
    }
    .projects h2{
        text-align: initial;
    }
    .projects .text{
        justify-content: space-around;
    }
    .container_projetos_imagens{
        display: flex;
    }
    .flex_team{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
    }
    .flex_team img{
        width: 300px;
    }
    .titulo_project{
        text-align: center;
    }
    .titulo_project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .titulo_project p{
        text-align: center;
    }
    .depoiments {
        width: 50%;
        margin: auto;
        line-height: 40px;
    }
    .subscribe {
        display: flex;
        justify-content: space-around;
    }
    .dados_forms{
        display: flex;
        width: 1000px;
        margin: auto;
    }
    .formulario .forms {
        width: 1000px;
        margin: auto;
    }
    .dados_forms a{
        width: 200px;
    }
}

@media(max-width:800px){
    .container_footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container_footer >div{
        width: 100%;
    }
}