@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("./media.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",Arial, Helvetica, sans-serif;    
}
a{
    text-decoration: none;
}
header{
    height: 100vh;
}
.navbar{
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar-expand-md .navbar-collapse{
    flex-grow: initial;
}
.bold{
    font-weight: 700;
}
.carousel-inner{
    width: 100%;
    height: 100%;
}
.carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-right: 20px;
}
.carousel-inner{
    position: relative;
}
.text_carousel{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.carousel-item img{
    background-size: cover;
    height: 100vh;
    object-fit: cover;
    background-position: bottom;
}

.text_carousel{
    text-align: center;
    color: #fff;
    width: 90%;
}
.text_carousel h2{
    font-weight: 600;
    font-size: 2rem;    
    margin-bottom: 30px;
}
.text_carousel p{
    font-weight: 400;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_carousel a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid #fff;
    width: 140px;
    height: 40px;
    transition: .3s;
    text-transform: uppercase;
    font-size: .8rem;
}
.carousel-control-prev,
.carousel-control-next{
    display: none;
}
.btns a:nth-child(1){
    color: #fff;
    margin-right: 20px;
}
.btns a:nth-child(1):hover{
    background: #fff;
    color: #1d1d1d;
}
.btns a:nth-child(2){
    background: #fff;
    color: #1d1d1d;
}
.btns a:nth-child(2):hover{
    background: rgba(255,255,255,.5);

}

.about{
    padding: 40px 0;
    text-align: center;
}
section h2{
    font-weight: 200;
}
section h2{
    margin-bottom: 30px;
    color: #444444;
}
.about p,
.card_servicos p
.projects p{
    color: #777777;
}
.container_about{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.card{
    border: none;
}
.container_card{
    background:#f5f5f5;
}
.container_card .card{
    color: #777777;
    text-align: center;
    padding-bottom: 30px;
}
.container_card .card p{
    font-size: 1.3rem;
    font-weight: 200;
}
.container_card .card i, .container_card .card span{
    font-size: 2rem;
    margin-right: 10px;
}
.container_card .card span{
    font-weight: 200;
}


.services{
    margin-top: 50px;
    text-align: center;
}
.services h2{
    margin-bottom: 50px;
}
.card_servicos{
    margin-top: 50px;
}
.card_servicos i{
    color:#595959;
    font-size: 3rem;
}
.card_servicos p{
    width: 90%;
    margin: auto;
    font-size: 1rem;
}
.card_servicos p:nth-child(2){
    color:rgb(68, 68, 68);
    margin-bottom: 30px;
}

.projects{
    background:#f5f5f5;
    text-align: center;
    padding: 40px 0;
    margin-top: 40px;
}
.projects h2{
    margin-bottom: 40px;
}
.projects p,
.team_title p,
.ultimosArtigos p{
    color: #777;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}

.projects a{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    margin-right: 8px;
    height: auto;
    padding: 12px 40px;
    font-size: 10px;
    color: #5b90b7;
    border: 2px solid;
    background: transparent;
}
.projects a:hover, .projects a:focus {
    color: #fff;
    border-color: transparent;
    background: #5b90b7;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.container_img img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.container_img{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.container_img h3{
    position: absolute;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    right: -30px;
}

.container_img h3:hover{
    opacity: 1;
    right: 0px;
}

.information_servicos p{
    color: #777;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top:40px;
}
.information_servicos{
    padding-bottom: 40px;
}
.information_servicos img{
    width: 100%;
}
.team img{
    width: 100%;
    max-width:350px;
}
.card_people{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team_title h2,
.depoiments h2,
.ultimosArtigos h2{
    margin: auto;
    margin-top: 40px;
    text-align: center;
}
.team_title p{
    text-align: center;
}
.team .function{
    margin-top: 30px;
    text-align: center;
}
.team .function span{
    color: #777;
}
.depoiments h2,
.ultimosArtigos h2{
    text-align: center;
    margin-top: 50px;
}

.depoiments .carousel-item {
    padding: 20px;
    text-align: center;
    color: #777;
}   
.depoiments .carousel-indicators [data-bs-target]{
    width: 20px;
    height: auto;
    background: #1d1d1d;
}
.depoiments .carousel-indicators{
    bottom: -30px;
}
.depoiments{
    padding-bottom: 50px;
}
.ultimosArtigos h3{
    width: 90%;
    margin: auto;
}
.ultimosArtigos h2{
    margin-bottom: 50px;
}
.ultimosArtigos h3{
    font-weight: 300;
    color: #1d1d1d;
    margin-bottom: 20px;
}

.formulario form{
    display: flex;
    flex-direction: column;
}
.formulario input[type="text"],
.formulario input[type="mail"],
.formulario textarea{
    width: 90%;
    margin: auto;
    border: none;
    border-bottom: 1px solid #777;
    font-size: 1.2rem;
    margin-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;

}
.formulario::placeholder{
    font-weight: 300;
    color: #777;
}
.forms input[type="submit"]{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    margin-right: 8px;
    height: auto;
    padding: 12px 40px;
    font-size: 10px;
    color: #5b90b7;
    border: 2px solid;
    background: transparent;
    width: 90%;
    max-width: 250px;
    margin: auto;
    margin-top: 40px;
} 
.forms input[type="submit"]:hover{
    color: #fff;
    border-color: transparent;
    background: #5b90b7;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dados_forms a{
    color: #777;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.dados_forms i{
    font-size: 3rem;
    text-align: center;
    margin: auto;
}
.subscribe form{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}
.subscribe{
    background: #f5f5f5;
    text-align: center;
    padding-top: 30px;
}
.subscribe input[type="text"]{
    background: none;
    margin-top: 0px;
}
.subscribe button[type="submit"]{
    color: #777;
    background: none;
    outline: none;
    border: none;
}
.subscribe button i{
    color: #777;
    font-size: 2rem;
}

.card_ultimoBlog{
    transition: .3s;
    padding: 20px 0px;
}
.card_ultimoBlog:hover{
    background: #f5f5f5;
}
.ultimosArtigos h2{
    margin: 0;
    margin-top: 100px;
}
.footer_index{
    background: #303030;
}
.footer_index a,
.footer_index h3,
.footer_index span,
.footer_index .logo{
    color: #fff;
}
.footer_index p{
    color: #fff;
    transition: .3s;
}
.Our_Company{
    color: #fff;
}
.footer_index h3{
    font-size: 1rem;
}
.footer_index a{
    font-size: .8rem;
}
.footer_index a:hover p{
    color: rgba(255,255,255,.5);

}
.footer_index .location span,
.footer_index .location p{
    color: rgba(255,255,255,.5);
    width: 70%;
    font-size: .8rem;
    transition: .3s;
    margin-top: 20px;
}
.footer_index .location span:hover,
.footer_index .location p:hover{
    color: #fff;
}
.container_footer{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.footer_index input{
    border: none;
    background: transparent;
    border-bottom: 1px solid #777;
    color: #fff;
}
.footer_index input::placeholder{
    color: #fff;
    padding-top: 10px;
    padding-left: 10px;
}
.footer_index button{
    background: transparent;
    border: none;
    color: #fff;
}
